
    
.pizzaWindowArea {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out background-color 0.3s ease-in-out;
}

.pizzaWindowArea.open {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Анимация появления самого окна */
.pizzaWindowBody {
    position: relative;
    width: 900px;
    height: 550px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
    font-family: "Gilroy";
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s ease-in-out 0.1s;
}

.pizzaWindowArea.open .pizzaWindowBody {
    transform: scale(1);
    opacity: 1;
}


.pizzaBig {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}


.pizzaBig img {
    height: 400px;
    width: 400px;
}


.pizzaInfo {
    flex: 1;
    font-family:"Gilroy";
    padding-bottom: 50px;
    padding-left: 40px;
}

.pizzaInfo h1 {
    margin-top: 50px;
    text-align:left;
}

.pizzaInfo--desc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    word-break: normal;
    max-width: 85%;
    overflow: hidden;

}

.pizzaInfo--sector {
    color: #CCC;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.pizzaInfo--sizes {
    display: inline-flex;
    border-radius: 24px;
    overflow: hidden;
}

.pizzaInfo--size {
    padding: 8px 14px;
    color: #000;
    background-color: #EEE;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.pizzaInfo--size:hover {
    background-color: #CCC;
}

.pizzaInfo--size.selected {
    background-color: #ffd149;
    color: #000000;
}

.pizzaInfo--size.selected span {
    color: #D6D6D6;
}

.pizzaInfo--size span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.pizzaInfo--price {
    display: flex;
    align-items: center;
}

.pizzaInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
}
.quantity-container {
    display: flex;
    align-items: center;
    border: #111 solid 1px;
    border-radius: 50px;
    overflow: hidden;
    height: 28px;
    padding: 4px 7px;
    gap: 10px;
    user-select: none;
    -webkit-user-drag: none;
  }
.quantity-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #111;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .quantity-value {
    background: #e94a46;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    min-width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  

.pizzaInfo--addButton {
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 24px;
    background-color: #e94a46;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.pizzaInfo--addButton:hover {
    background-color: #f08b2d;
    
}

.pizzaWindowCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s ease-in-out;
}

.pizzaWindowCloseButton:hover {
    color: #e94a46;
}
.pizzaInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

@media (max-width: 1000px) {
    .pizza-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    body {
        flex-direction: column;
    }
    
    .pizza-area {
        display: block;
    }

    .pizza-item {
        max-width: 100%;
    }

    .pizzaWindowArea {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .pizzaWindowBody {
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .pizzaBig img {
        width: 75%;
        height: auto;
    }

    .pizzaInfo h1 {
        margin-top: 20px;
    }

    .pizzaInfo--qtarea {
        height: 60px;
    }

    .pizzaInfo--qtarea button {
        font-size: 25px;
        padding: 0px 25px;
    }

    .pizzaInfo--qt {
        line-height: 60px;
        font-size: 20px;
    }

    .pizzaInfo--addButton {
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }

    .pizzaInfo--cancelButton {
        display: none;
    }

    .pizzaInfo--cancelMobileButton {
        display: block;
    }
}
