.slider-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 80px; /* Увеличиваем отступ для пагинации */
  cursor: pointer;
}

.slider-image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

/* Контейнер для пагинации */
.swiper-pagination {
  position: absolute;
  bottom: -50px; /* Пагинация будет ниже изображения */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px; /* Расстояние между точками */
}

/* Стили для точек пагинации */
.swiper-pagination-bullet {
  background-color: rgb(153, 153, 153);
  opacity: 1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

/* Стиль активной точки */
.swiper-pagination-bullet-active {
  background-color: #e94a46;
  transform: scale(1.5);
}