
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #fafafa;
  font-family: 'Gilroy';
}


header .navbar {
  background-color: #fff !important;
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}


.navbar .container {
  max-width: 1200px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  user-select: none;
}

.navbar-brand img {
  max-height: 60px;
  width: auto;
  margin-right: 5px;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;

}

.brand-text {
  font-family: 'AngelicaC', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}


.navbar-nav .nav-item {
  margin-right: 20px;
}


.navbar-nav .dropdown-menu {
  display: none; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1001;
}


.nav-item.dropdown:hover .dropdown-menu {
  display: grid;
}


.navbar-nav .dropdown-menu a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  font-weight: 600;
}

.navbar-nav .dropdown-menu a:hover {
  color: #e94a46;
  background-color: #fff;
}


.d-flex.align-items-center {
  gap: 10px;
}

/* Иконка профиля */
.profile-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.profile-icon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.3s;
}

.profile-icon:hover img {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .navbar .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-nav {
      width: 100%;
      text-align: left;
  }

  .navbar-nav .nav-item {
      margin-bottom: 10px;
  }

  .navbar-nav .dropdown-menu {
      grid-template-columns: 1fr; 
      min-width: 100%;
  }
}

.footer {
  background-color: #0d0d0d;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; 
  font-family: 'Gilroy';
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;
  padding: 0 20px;
}


.footer-block {
  width: 30%;
  min-width: 250px;
}


.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.footer p {
  font-size: 14px;
  line-height: 1.6;
}


.footer-link {
  color: #fafafa;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #e94a46;
}

/* Нижняя строка */
.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #868e96;
  padding-top: 10px;
}


.footer-categories {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px 20px;
  padding: 0;
  list-style: none;
}


@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-block {
      width: 100%;
  }

  .footer-categories {
      grid-template-columns: repeat(1, auto); 
      text-align: center;
  }
}