.cart-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Gilroy';
}

.cart-page h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.cart-page ul {
  list-style: none;
  padding: 0;
}

.submit-button{
  background: #e94a46;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #f08b2d;
}