.cart-page {
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  font-family: 'Gilroy';
}

.cart-page h2 {
  text-align: start;
  margin-bottom: 20px;
  font-weight: 600;
}

.cart-page ul {
  list-style: none;
  padding: 0;
}

